<!DOCTYPE html>
<html>
<head>
    <title>Smart Parking - Meu Guru</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div id="dashboard">
        <h1>Estacionamento Inteligente</h1>
        <p>Vagas Ocupadas: <span id="count">0</span> / 30</p>
    </div>

    <div id="maquete-container">
        <img id="carro-animado" src="/static/img/carro.png" style="display:none; position:absolute; z-index:10;">
        
        <div id="vaga-1" class="vaga" style="top: 20%; left: 10%;">1</div>
    </div>

    <script>
        const socket = io();
        const carro = document.getElementById('carro-animado');

        socket.on('update_vagas', (data) => {
            document.getElementById('count').innerText = data.ocupadas;
            
            if(data.deteccoes.length > 0) {
                carro.style.display = 'block';
                carro.style.left = data.deteccoes[0].x + '%';
                carro.style.top  = data.deteccoes[0].y + '%';
            }
        });

        socket.on('evento_arduino', (data) => {
            alert(data.msg);
        });
    </script>
</body>
</html>